.indexbody{
	width: 100%;
	margin-top: 60px;
}
.bbcocontain{
	width: 100%;
	padding-bottom: 50px;

}
.center{
	max-width: 1200px;
	margin: auto;
}
.bbcodes{
	padding: 5%;
	width: 50%;
	float: left;
}
.bbcoimg{
	width: 30%;
	height: 200px;
	padding: 5%;
	float: left;
}
.bbcoimg img{
	width: 100%;

}

.menucontain{
	float: left;
	width: 100%;
	background-color: white;
	margin-top: 90px;
	padding-top: 40px;
}
.coffee{
	width: 33%;
	float: left;
	margin-bottom: 60px;
}
.allday{
	width: 33%;
	float: left;
}
.cont{
	width: 33%;
	float: left;
}

.otherindex{
	width: 100%;
	float: left;
	padding-top: 50px;
}
.col1{
	width: 30%;
	float: left;
	padding: 1%;
}
.col2{
	width: 32%;
	float: left;
	padding: 1%;
}
.col3{
	width: 32%;
	float: left;
	padding: 1%;
}
.col1 img{
	width: 100%;
}

.col2 img{
	width: 100%;
}
.col3 img{
	width: 100%;
}

;
