.menukhmerfood {
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 50px;
}

.block {
	float: left;
	margin-left: 50px;
	margin-top: 50px;
	width: 400px;
	border: 1px solid brown;
}


.f1 {
	margin-top:8px;
	text-align: center;
}

.z2 {
	float: left;
	width: 400px;
	height: 300px;
	margin-right: 10px;
}

.m1 {
	width: 100%;
	height: 100px;
}

.food {
	text-align: center;
	margin-top: 100px;
	Font-size: 50px;
	color: brown;
}
