.block1 {
	float: left;
	margin-left: 50px;
	margin-top: 30px;
	width: 400px;
}
.z1 {
	float: left;
	width: 400px;
	height: 200px;
	margin-right: 10px;
}
.manpage {
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 50px;
}
.m1 {
	width: 100%;
	height: 100%;
}

.hh {
	text-align: right;
}
.welcome {
	text-align: center;
	margin-top: 50px;
	Font-size: 50px;
	color: brown;
}
