

.myvideo {
  text-decoration: none;
  color: #fff;
  background: red;
  text-align: center;
  padding: 10px;
  font-weight: 600;
  z-index:100;
  position: absolute;
  bottom: 20px;
}
.myvideo:hover {
  color: #000;
}
.menutitle{
  color: var(--titlemenu);
  font-size: 40px;
  position: absolute;
  top: 0px;
  left: 100px;
  
}
.background{
	width: 100%;
	overflow: hidden;
	height: 400px;
	float: left;
	position: relative;
}
.background img{
	width: 100%;
	float: left;
}