
    <div class="footer">

      <div class="footsocial">
        <div class="center">
          <a class="foottext" href="#">Stay informed on events & offers, join us now</a>
          <div class="footfloattoright">
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-google-plus-g"></i></a>
          </div>
        </div>
      </div>
      <div class="footcopyright">
        <div class="center">
          <a href="#">Privacy Policy</a>
          <p>© Pranam Hotels</p>
        </div>
      </div>
    </div>
  </body>
</html>
