
    <div class="footer">

      <div class="footsocial">
        <div class="center">
          <a class="foottext" href="#">Stay informed on events & offers, join us now</a>
          <div class="footfloattoright">
            <a href="https://www.facebook.com/"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a href="https://www.youtube.com/"><i class="fab fa-youtube"></i></a>
            <a href="https://twitter.com/"><i class="fab fa-twitter"></i></a>
            <a href="https://plus.google.com/"><i class="fab fa-google-plus-g"></i></a>
          </div>
        </div>
      </div>
      <div class="footcopyright">
        <div class="center">
          <a href="#">Privacy Policy</a>
          <p>© Pranam Hotels</p>
        </div>
      </div>
    </div>
    <?php
      if(defined('TITLE')){
        if(TITLE == 'Pranam Hotel'){
          print '<script type="text/javascript" src="js/js.js"></script>';
        }else{
          print '<script type="text/javascript" src="../../js/js.js"></script>';
        }
      }
    ?>

  </body>
</html>
